<h2 class="text-center">Questions of {{qtitle}} </h2> 
                <mat-card *ngFor="let q of questions let i=index" class="m20">
                    <mat-card-content>
                        <p>
                            Q.{{i+1}} ) <span>{{q.content}}</span>
                        </p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>a.){{ q.option1}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p>b.){{ q.option2}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <p>c.){{ q.option3}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p>d.){{ q.option4}}</p>
                                </div>
                            </div>

                            <mat-divider></mat-divider>
                            <p>Correct Answer: {{q.answer}} </p>
                        </div>
                       


                     
                    </mat-card-content>
                </mat-card>
